{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Grover Rentals {% endblock %}</h1>
    {% for product in products %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
        <table> 
            <thead> 
            <tr> 
                <th>Name</th> 
                <th>Brand</th>
                <th>Category</th>
                <th>Availability</th>
                <th>Quantity</th>
            </tr> 
            </thead> 
            <tbody> 
                {% for product in products %}
                    <tr> 
                        <td>{{product[0]}}</td> 
                        <td>{{product[1]}}</td>
                        <td>{{product[2]}}</td>
                        <td>{{product[3]}}</td>
                        <td>{{product[4]}}</td>
                    </tr> 
                {% endfor %} 
            </tbody> 
        </table> 
    {% endfor %}
{% endblock %}
